<h1>日記一覧</h1>
<ul>
  <% @pages.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article.id) %>
        <%= link_to "[Edit]", edit_article_path(article.id) %>
        <%= link_to "[Delete]", article_path(article.id), method: :delete, data: {
            confirm: "are you sure?"} %>
      </li>
  <% end %>

</ul>

<p>
  <%= paginate(@pages) %>
</p>